* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App {
    width: 600px;
    margin: 0 auto;
}

.post {
    display: flex;
    margin-top: 15px;
  
    padding: 15px;
    border: 1px solid teal;
    border-radius: 5px;
}

.post__content {
    display: flex;

    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    
}

.post__text {
    width: 450px;
}



.post-enter {
    transform: translateX(-350px);
  }

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}
  

 